body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 105vh; 
  background-color: rgb(255, 247, 236);
}

.draggable {
  position: absolute;
  width: 7vw;
  height: 7vw;
}

.fridge {
  width: 50%;
  height: auto;
}

.draggable-container {
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 1; 
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .draggable {
    width: 7vw;
    height: 7vw;
  }

  .fridge {
    width: 100%;
  }

  .draggable-container {
    left: 20px;
    top: -88px;
  }
}